:root {
    --accentColor: #2589BD;         /*Blue NCS*/
    --textColor: #187795;       /*Teal Blue*/
    --btnColor: #38686A;        /*Ming*/
    --bordeColor: #A3B4A2;      /*Laurel Green*/
    --bgColor: #CDC6AE;     /*Bone*/
    --font: Verdana,sans-serif;
}

* {
    margin:auto;
    padding:auto;
    box-sizing:border-box;
    background-color: var(--bgColor);
}

/*class names

quiz-mod
timer
time-left
timer-sec

intro
list
list-Item

start

q-text
options
total-q
next-btn

result-box
quiz-done
score
buttons
restart
quit
*/

.quiz-done,
.time-left,
.timer-sec,
h1,
.intro {
    color:var(--textColor);
    font-family:var(--font);
    margin:10px;
    padding:10px;

}

footer,
header {
    color:var(--textColor);
    font-family:var(--font);
    border-bottom: solid 4px var(--accentColor);
   
}

.high-score{
    font-family: var(--font);
    color: var(--accentColor);
    
}

button {
    color:white;
    font-family:var(--font);
    background-color: var(--btnColor);
    text-align: center;
    padding:5px;
    margin:8px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: var(--accentColor); 
}

button:active{
    background-color: var(--btnColor);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}