:root {
    --accentColor: #2589BD;         /*Blue NCS*/
    --textColor: #187795;       /*Teal Blue*/
    --btnColor: #38686A;        /*Ming*/
    --bordeColor: #A3B4A2;      /*Laurel Green*/
    --bgColor: #CDC6AE;     /*Bone*/
    --font: Verdana,sans-serif;
}

li, p{
    padding: auto;
    color:var(--textColor);
    font-family: var(--font);
    list-style-type: none;
    text-align: center;
    font-size: xx-large;
}

h2, h3{
    font-family: var(--font);
    color:var(--textColor);
    margin:auto;
}

input{
    text-align: center;
}

.quiz-container {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    margin: 0 auto;
}

#homePage {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#timer{
    font-family: var(--font);
    background-color: var(--bgColor);
    color:var(--textColor);
    font-size:larger;
    text-align: center;
    text-shadow: 1px 1px var(--bordeColor);
}

#quiz-box, 
#results,
#endGame {
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#score-page {
    display: none;
    width: auto;
    border: 10px solid var(--bordeColor);
    background: var(--bgColor);

}


button {
    display:inline-block;
    justify-content: center;
    font-family: sans-serif;
    background-color: var(--bgColor);
    border-radius: 10px;
    color: var(--btnColor);
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    margin-top: 3px;
  }

button:hover{
    box-shadow: 4px 3px 6px var(--accentColor);
  }
