:root {
    --accentColor: #EDDEA4;      
    --textColor: #0FA3B1;      
    --btnColor: #F7A072;        
    --borderColor: #B5E2FA;      
    --bgColor: #F9F7F3;    
    --font: Verdana,sans-serif;
}
* {
    background-color: var(--bgColor);
    justify-content: center;
    align-items: center;
}

p, li{
    color:var(--textColor);
    font-family: var(--font);
    list-style-type: none;
    text-align:right;
    font-size: x-large;
}

h2, h3{
    font-family: var(--font);
    color:var(--textColor);
    margin:auto;
}

input{
    text-align: center;
}

.quiz-container {
    width: 100vw;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#questions {
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#homePage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer{
    font-family: var(--font);
    background-color: var(--bgColor);
    color:var(--textColor);
    font-size:larger;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px var(--borderColor);
}

#quix-box {
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font);
    padding-bottom: 5rem;
    
}

#moreBtns,
#results,
#endGame {
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font);
    padding-bottom: 9rem;
    background-color: var(--bgColor);
}

#score-page{
    display: none;
    width: 125rem;
    border: 5px solid var(--bordeColor);
    background: var(--bgColor);

}

#header {
    display:flex;
    font-family:var(--font);
    background-color: var(--bgColor);
    color:var(--textColor);
    border-bottom: solid 5px var(--bordeColor); 
}

#score-box {
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin:auto;
}

#player {
    margin:8px;
    height:28px;
}

#initials {
    display:inline-block;
    font-family: var(--font);
    color:var(--textColor);
    font-size:larger;
    padding: 100px 100px;
}

#hScore {
    float:center;
    font-family: var(--font);
    font-weight:bold;
    justify-content: center;
    align-items: center;
}

#endScore {
    font-family: var(--font);
    color: var(--textColor);
    font-weight:bold;
    font-size: large;
    justify-content: center;
    align-items: center;
}

button {
    display:inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    background-color: var(--btnColor);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: medium;
    padding: 25px;
    width: 200px;
  }

button:hover{
    box-shadow: 4px 3px 6px var(--textColor);
  }
